@import './utilities/mixins';

@import './global/normalize';
@import './global/components';

@import './components/header';
@import './components/library-filters';
@import './components/gallery';
@import './components/movie-card';
@import './components/pagination';
@import './components/footer';
@import './components/backdrop';
@import './components/window';
@import './components/about-window';
@import './components/movie-window';

.hidden {
  display: none;
}
