body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  background: $blackColor;
  color: $whiteColor;
}

.inner-container {
  min-width: 290px;
  max-width: 320px;
  margin: 0px auto;
}

@include tablet {
  .inner-container {
    max-width: 768px;
  }
}

@include desktop {
  .inner-container {
    max-width: 1280px;
  }
}

.button {
  text-align: center;
  width: 129.53px;
  height: 44px;
  border: 1px solid $whiteColor;
  border-radius: 5px;
  color: $whiteColor;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: transform 0.2s;

  &:hover,
  &:focus {
    background-color: $primaryColor;
    box-shadow: 0px 8px 43px 0px rgba($primaryColor, 0.5);
    transform: scale(1.1);
    border: 1px solid none;
  }

  @include tablet {
    width: 152px;
  }

  @include desktop {
    width: 147px;
  }
}
