<div class="backdrop hidden" id="about-window-backdrop">
  <div class="about-window window" id="about-window">
    <button class="about-window__close-btn button" id="about-close-button">
      &#9587;
    </button>
    <h2 class="about-window__title">BugMasters Team</h2>
    <div class="about-window__content">
      <div class="member-card">
        <div class="member-card__images">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
          <a
            class="member-card__link"
            href="https://github.com/GregorJosh"
            target="_blank"
            ><img
              class="member-card__github"
              src="/src/images/team/icon-github.svg#github"
              alt="icon github"
              width="25"
              height="25"
          /></a>
        </div>
        <p class="member-card__name">Grzegorz Jóźwiak</p>
        <p class="member-card__role">Team Lead</p>
      </div>
      <div class="member-card">
        <div class="member-card__images">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
          <a
            class="member-card__link"
            href="https://github.com/Lukaszz2003"
            target="_blank"
            ><img
              class="member-card__github"
              src="/src/images/team/icon-github.svg#github"
              alt="icon github"
              width="25"
              height="25"
          /></a>
        </div>
        <p class="member-card__name">Łukasz Paradowski</p>
        <p class="member-card__role">Scrum Master</p>
      </div>
      <div class="member-card">
        <div class="member-card__images">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
          <a
            class="member-card__link"
            href="https://github.com/Kayywu"
            target="_blank"
            ><img
              class="member-card__github"
              src="/src/images/team/icon-github.svg#github"
              alt="icon github"
              width="25"
              height="25"
          /></a>
        </div>
        <p class="member-card__name">Katarzyna Wosik</p>
        <p class="member-card__role">Developer</p>
      </div>
      <div class="member-card">
        <div class="member-card__images">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
          <a
            class="member-card__link"
            href="https://github.com/Weronika2003"
            target="_blank"
            ><img
              class="member-card__github"
              src="/src/images/team/icon-github.svg#github"
              alt="icon github"
              width="25"
              height="25"
          /></a>
        </div>
        <p class="member-card__name">Weronika Czart</p>
        <p class="member-card__role">Developer</p>
      </div>
      <div class="member-card">
        <div class="member-card__images">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
          <a
            class="member-card__link"
            href="https://github.com/Samcia"
            target="_blank"
            ><img
              class="member-card__github"
              src="/src/images/team/icon-github.svg#github"
              alt="icon github"
              width="25"
              height="25"
          /></a>
        </div>
        <p class="member-card__name">Samanta Podgórska</p>
        <p class="member-card__role">Developer</p>
      </div>
      <div class="member-card">
        <div class="member-card__images">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
          <a
            class="member-card__link"
            href="https://github.com/Proofwolf"
            target="_blank"
            ><img
              class="member-card__github"
              src="/src/images/team/icon-github.svg#github"
              alt="icon github"
              width="25"
              height="25"
          /></a>
        </div>
        <p class="member-card__name">Denys Bereznytskyi</p>
        <p class="member-card__role">Developer</p>
      </div>
      <div class="member-card">
        <div class="member-card__images">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
          <a
            class="member-card__link"
            href="https://github.com/MichalStanaszek"
            target="_blank"
            ><img
              class="member-card__github"
              src="/src/images/team/icon-github.svg#github"
              alt="icon github"
              width="25"
              height="25"
          /></a>
        </div>
        <p class="member-card__name">Michał Stanaszek</p>
        <p class="member-card__role">Developer</p>
      </div>
      <div class="member-card">
        <div class="member-card__images">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
          <a
            class="member-card__link"
            href="https://github.com/Kacper-Sepiol"
            target="_blank"
            ><img
              class="member-card__github"
              src="/src/images/team/icon-github.svg#github"
              alt="icon github"
              width="25"
              height="25"
          /></a>
        </div>
        <p class="member-card__name">Kacper Sepiół</p>
        <p class="member-card__role">Developer</p>
      </div>
    </div>
  </div>
</div>
