<div class="backdrop hidden" id="about-window-backdrop">
  <div class="about-window window">
    <button class="about-window__close-btn button" id="about-window-close">
      &#9587;
    </button>
    <h2 class="about-window__title">BugMasters Team</h2>
    <div class="about-window__content">
      <div class="member-card">
        <div class="member-card__images">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
          <a
            class="member-card__link"
            href="https://github.com/GregorJosh"
            target="_blank"
            ><img
              class="member-card__github"
              src="/src/images/team/icon-github.svg#github"
              alt="icon github"
              width="25"
              height="25"
          /></a>
        </div>
        <p class="member-card__name">Grzegorz Jóźwiak</p>
        <p class="member-card__role">Team Lead</p>
      </div>
      <div class="member-card">
        <div class="member-card__images">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
          <a
            class="member-card__link"
            href="https://github.com/GregorJosh"
            target="_blank"
            ><img
              class="member-card__github"
              src="/src/images/team/icon-github.svg#github"
              alt="icon github"
              width="25"
              height="25"
          /></a>
        </div>
        <p class="member-card__name">Grzegorz Jóźwiak</p>
        <p class="member-card__role">Team Lead</p>
      </div>
      <div class="member-card">
        <div class="member-card__images">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
          <a
            class="member-card__link"
            href="https://github.com/GregorJosh"
            target="_blank"
            ><img
              class="member-card__github"
              src="/src/images/team/icon-github.svg#github"
              alt="icon github"
              width="25"
              height="25"
          /></a>
        </div>
        <p class="member-card__name">Grzegorz Jóźwiak</p>
        <p class="member-card__role">Team Lead</p>
      </div>
      <div class="member-card">
        <div class="member-card__images">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
          <a
            class="member-card__link"
            href="https://github.com/GregorJosh"
            target="_blank"
            ><img
              class="member-card__github"
              src="/src/images/team/icon-github.svg#github"
              alt="icon github"
              width="25"
              height="25"
          /></a>
        </div>
        <p class="member-card__name">Grzegorz Jóźwiak</p>
        <p class="member-card__role">Team Lead</p>
      </div>
      <div class="member-card">
        <div class="member-card__images">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
          <a
            class="member-card__link"
            href="https://github.com/GregorJosh"
            target="_blank"
            ><img
              class="member-card__github"
              src="/src/images/team/icon-github.svg#github"
              alt="icon github"
              width="25"
              height="25"
          /></a>
        </div>
        <p class="member-card__name">Grzegorz Jóźwiak</p>
        <p class="member-card__role">Team Lead</p>
      </div>
      <div class="member-card">
        <div class="member-card__images">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
          <a
            class="member-card__link"
            href="https://github.com/GregorJosh"
            target="_blank"
            ><img
              class="member-card__github"
              src="/src/images/team/icon-github.svg#github"
              alt="icon github"
              width="25"
              height="25"
          /></a>
        </div>
        <p class="member-card__name">Grzegorz Jóźwiak</p>
        <p class="member-card__role">Team Lead</p>
      </div>
    </div>
  </div>
</div>
