<div class="backdrop-modal team__backdrop--hidden">
  <div class="team__modal">
    <button class="team__modal--close close-modal-team"></button>
    <h2 class="team__title">Team 4</h2>
    <div class="team__box">
      <div class="team__member">
        <div class="team__card">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
          <img
            src="/src/images/team/icon-github.svg"
            alt="icon github"
            width="25"
            height="25"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/GregorJosh"
          target="_blank"
        ></a>
        <p class="team__name">Grzegorz Jóźwiak</p>
        <p class="team__role">Team Lead</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/GregorJosh"
          target="_blank"
        ></a>
        <p class="team__name">Łukasz Paradowski</p>
        <p class="team__role">Scrum Master</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/GregorJosh"
          target="_blank"
        ></a>
        <p class="team__name">Denys Bereznickij</p>
        <p class="team__role">Developer</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/GregorJosh"
          target="_blank"
        ></a>
        <p class="team__name">Ewa Faltyńska</p>
        <p class="team__role">Developer</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/GregorJosh"
          target="_blank"
        ></a>
        <p class="team__name">Katarzyna Wosik</p>
        <p class="team__role">Developer</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/GregorJosh"
          target="_blank"
        ></a>
        <p class="team__name">Kacper Sepół</p>
        <p class="team__role">Developer</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/GregorJosh"
          target="_blank"
        ></a>
        <p class="team__name">Łukasz Cieślik</p>
        <p class="team__role">Developer</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/GregorJosh"
          target="_blank"
        ></a>
        <p class="team__name">Michał Stanaszek</p>
        <p class="team__role">Developer</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/GregorJosh"
          target="_blank"
        ></a>
        <p class="team__name">Samanta Podgórska</p>
        <p class="team__role">Developer</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/GregorJosh"
          target="_blank"
        ></a>
        <p class="team__name">Weronika Czart</p>
        <p class="team__role">Developer</p>
      </div>
      <div class="team__member">
        <div class="team__card">
          <img
            class="member-card__photo"
            src="/src/images/team/emotka.jpg"
            alt="emotka"
          />
        </div>
        <a
          class="team__link"
          href="https://github.com/GregorJosh"
          target="_blank"
        ></a>
      </div>
    </div>
  </div>
</div>
