<div id="movie-window-backdrop" class="backdrop hidden">
  <div class="movie-window window">
    <span class="close">&times;</span>
    <!-- dummy img -> to be deleted later -->
    <img
      class="dummy"
      src="/src/images/header/header-gallery/header-mobile.png"
      alt="dummy-img"
    />
    <h1 class="dummy__title">MOVIE TITLE</h1>
    <div class="stats">
      <ul classs="stats__subtitles">
        <li class="stats__list">Vote / Votes</li>
        <li class="stats__list">Popularity</li>
        <li class="stats__list">Original Title</li>
        <li class="stats__list">Genre</li>
      </ul>
      <ul>
        <li class="stats__list">
          <span class="color">7.3</span> / <span>1260</span>
        </li>
        <li class="stats__list"><span>100.2</span></li>
        <li class="stats__list">A FISTFUL OF LEAD</li>
        <li class="stats__list">Western</li>
      </ul>
    </div>
    <section class="description">
      <h2 class="description--header">ABOUT</h2>
      <p>
        Four of the West’s most infamous outlaws assemble to steal a huge stash
        of gold from the most corrupt settlement of the gold rush towns. But not
        all goes to plan one is killed and the other three escapes with bags of
        gold hide out in the abandoned gold mine where they happen across
        another gang of three – who themselves were planning to hit the very
        same bank! As tensions rise, things go from bad to worse as they realise
        the bags of gold are filled with lead... they’ve been double crossed –
        but by who and how?
      </p>
    </section>
    <div class="stats">
      <button class="button" type="button">ADD TO WATCHED</button>
      <button class="button" type="button">ADD TO QUEUE</button>
    </div>
  </div>
</div>
