// pagination

<div class="pagination">
  <button type="button" class="button" id="left_arrow_btn">&#8592;</button>
  <button type="button" class="button" id="first_btn">1</button>
  <span>&#8230;</span>
  <button type="button" class="button" id="third_btn">13</button>
  <button type="button" class="button" id="fourth_btn">14</button>
  <button type="button" class="button" id="fifth_btn">15</button>
  <button type="button" class="button" id="sixth_btn">16</button>
  <button type="button" class="button" id="seventh_btn">17</button>
  <span>&#8230;</span>
  <button type="button" class="button" id="ninth_btn">20</button>
  <button type="button" class="button" id="right_arrow_btn">&#8594;</button>
</div>
