// pagination

<div class="pagination">
  <button type="button" class="button" id="left_arrow_btn">&#8592;</button>
  <button
    type="button"
    class="button active"
    id="first_btn"
    value="1"
    onclick="activeLink()"
  >
    1
  </button>
  <span>&#8230;</span>
  <button
    type="button"
    class="button"
    id="third_btn"
    value="13"
    onclick="activeLink()"
  >
    13
  </button>
  <button
    type="button"
    class="button"
    id="fourth_btn"
    value="14"
    onclick="activeLink()"
  >
    14
  </button>
  <button
    type="button"
    class="button"
    id="fifth_btn"
    value="15"
    onclick="activeLink()"
  >
    15
  </button>
  <button
    type="button"
    class="button"
    id="sixth_btn"
    value="16"
    onclick="activeLink()"
  >
    16
  </button>
  <button
    type="button"
    class="button"
    id="seventh_btn"
    value="17"
    onclick="activeLink()"
  >
    17
  </button>
  <span>&#8230;</span>
  <button
    type="button"
    class="button"
    id="ninth_btn"
    value="20"
    onclick="activeLink()"
  >
    20
  </button>
  <button type="button" class="button" id="right_arrow_btn">&#8594;</button>
</div>
