.header {
  height: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/header/header_gallery/header-mobile.png);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/header/header_gallery/header-mobile-2x.png);
  }

  @media screen and (min-width: 768px) {
    height: 219px;
    background-image: url(../images/header/header_gallery/header-tablet.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/header_gallery/header-tablet-2x.png);
    }
  }
  @media screen and (min-width: 1280px) {
    max-width: 100%;
    height: 216px;
    margin: 0 auto;
    background-image: url(../images/header/header_gallery/header-desktop.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/header_gallery/header-desktop-2x.png);
    }
  }
}

.header__logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__icon {
  display: block;
  justify-content: center;
}

.header__text {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;

    font-family: 'Roboto';
    font-weight: 500;
    font-size: 30px;
    line-height: 1.16;
    color: $whiteColor;

    margin-left: 10px;
  }
}

.header__link {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-transform: uppercase;
  text-decoration: none;
  color: $whiteColor;
}

.header__item {
  margin-right: 40px;
}
.header__item:last-child {
  margin-right: 0;
}

.header__nav {
  padding-top: 44px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  @media screen and (max-width: 481px) {
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.header__list {
  display: flex;
  margin-left: auto;
  list-style: none;
}

.header__link--current {
  position: relative;
  &::after {
    content: ' ';
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    border-radius: 1px;
    background-color: $LineColor;
  }
}

.header-library {
  height: 230px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../images/header/header_lib/header-lib-mobile.png);

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/header/header_lib/header-lib-mobile-2x.png);
  }

  @media screen and (min-width: 768px) {
    height: 219px;
    background-image: url(../images/header/header_lib/header-lib-tablet.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/header_lib/header-lib-tablet-2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    height: 216px;
    max-width: 1600px;
    margin: 0 auto;
    background-image: url(../images/header/header_lib/header-lib-desktop.png);

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/header/header_lib/header-lib-desktop-2x.png);
    }
  }
}

.header-lib__container {
  padding-top: 40px;
  margin-bottom: 60px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
