.library-buttons{
    display: inline-block; 
    text-align: center;
    justify-content: center;
    width: 129.53px;
    height: 44px;
    border: 1px solid $blackColor ; //do zmiany, ma być $whiteColor, ale nie widać na białym tle
    border-radius: 5px;
    color: $whiteColor;
    background-color: rgba(0, 0, 0, 0);
    cursor:auto;
    transition: transform 0.2s;
    &:not(:last-child) {
        margin-right: 20px;
    }
    &:hover, &:focus {
        background-color: $primaryColor;
        box-shadow: 0px 8px 43px 0px rgba($primaryColor, 0.5);
        transform: scale(1.1);
        border: 1px solid none;}
@include tablet{
    width:152px;
    &:not(:last-child) {
        margin-right: 32px;
    }
    
}
@include desktop{
    &:not(:last-child) {
        margin-right: 16px;
    }
    width:147px;
    
}
}
.library-filters
{
    display: flex;
    justify-content: center;
    flex-direction: row;
    
}