.library-filters {
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;}
.library-buttons{
    text-align: center;
    width: 129.53px;
    height: 44px;
    border: 1px solid $blackColor ; //do zmiany, ma być $whiteColor, ale nie widać na białym tle
    border-radius: 5px;
    color: $whiteColor;
    background-color: rgba(0, 0, 0, 0);
    cursor:auto;
    transition: transform 0.2s;
    &:hover, &:focus {
        background-color: $primaryColor;
        box-shadow: 0px 8px 43px 0px rgba($primaryColor, 0.5);
        transform: scale(1.1);
        border: 1px solid none;}
@include tablet{
    width:152px;
}
@include desktop{
    width:147px;
}
}
