.movie-window {
  color: black;
  font-size: 12px;
  border: 1px solid black;
  background: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

  position: relative;
  z-index: 9999;
  overflow-y: auto;
  overflow-x: hidden;

  display: flex;
  flex-direction: column;

  &__poster {
    pointer-events: none;

    & img {
      width: 240px;
      height: 357px;
      display: block;
      margin: auto;
      border-radius: 5px;
    }
  }

  &__details {
    pointer-events: none;

    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }

  &__stats {
    display: flex;
    justify-content: space-between;
    max-width: 264px;
    font-weight: 500;

    .stats-list,
    .stats-result {
      list-style-type: none;
      color: rgba(140, 140, 140, 1);
      margin-bottom: 8px;
    }

    .stats-list:last-child {
      margin-bottom: 0px;
    }

    .stats-result {
      color: black;
    }

    .stats-color {
      padding: 1px 10px;
      border-radius: 5px;
      background: $primaryColor;
      color: $whiteColor;
    }

    .stats-color2 {
      padding: 1px 4px;
      border-radius: 5px;
      background: #f7f7f7;
    }
  }

  &__description {
    font-weight: 500;
    line-height: 20px;
    max-width: 274px;
  
    .description-header {
      margin-bottom: 8px;
    }
  }
  
  &__modal-buttons {
    display: flex;
    justify-content: space-between;

    pointer-events: all;
  
    .button {
      border: 1px solid $blackColor;
      background-color: $whiteColor;
      color: $blackColor;

      font-size: 10px;

      &:hover,
      &:focus {
        background: $primaryColor;
        color: $whiteColor;
        border: none;
      }
    }
  }
  
  &__close-btn {
    width: 30px;
    height: 30px;
    margin: 8px;
    text-align: center;
    color: #aaa;
    float: right;
    font-size: 15px;
    font-weight: bold;
    border: none;
  
    position: absolute;
    top: 5px;
    right: 5px;
  
    &:hover,
    &:focus {
      color: black;
      text-decoration: none;
      cursor: pointer;
    }
  }
}


// TABLET

@include tablet {
  .movie-window {
    width: 704px;
    height: 552px;
  
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .dummy {
    width: 264px;
    height: 373.551px;
    margin: 36px;
    &__title {
      margin-top: 36px;
    }
  }

  .modal-buttons {
    margin-top: 35px;
    .button {
      width: 125px;
    }
  }
}

@include desktop {
  .movie-window {
    width: 806px;
    height: 558px;
  }

  .dummy {
    width: 375px;
    height: 478px;
    margin: 40px 16px 40px 12px;
    &__title {
      margin: 40px 0 20px;
    }
  }

  .stats {
    padding: 0;
  }

  .description {
    margin: 20px 0;
    max-width: 391px;
    &--header {
      margin-bottom: 8px;
    }
  }

  .modal-buttons {
    display: block;
    margin-top: 35px;

    .button {
      width: 136px;
      margin-right: 15px;
    }
  }
}
